.top-container{
 background-color:#e4fbff;
 padding: 30px;
  /*border: 10px solid;
  height: 200px;

  width: 200px;*/
}
.prog{
  font-size: 2.5rem;
  font-weight: normal;
    padding-top:30px;

}
/*.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
*/
body{
  margin: 0;
 color: #40514E;
  text-align: center;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;



}
h1{
  margin: 60px auto 30px auto;
  line-height: 0;
  font-family: 'Sacramento', cursive;
  font-size: 7rem;
  color: #66BFBF;
  /*16px=100%=1em 90px=562.5% 90px=5.625em
  em inherits the parent size too so we will use rem to replace it*/
  /*if we apply width to any elememt then body margin will not work on that particular portion. so we have set its margin as auto for that*/
/*  width: 10px;
  margin:0 auto 0 auto;*/

}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.bottom-cloud{
  position: absolute;
  left: 200px;
}
.top-cloud{
  position: relative;
  left:400px;

}
.contact-msg{
  width: 40%;
  margin: 20px auto 60px;
}

hr{
  border: dotted #66BFBF 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pro{
  text-decoration: underline;
}
.circular {
 border-radius: 100%;
}
.intro{
  width: 30%;
  margin: auto;
  font-size: 20px;
}
/*.c-img{
  border-radius: 100%;
  float: left;
}
.ch-img{
  border-radius: 100%;
  float: right;
}*/
.middle-container{
/*  background-color: #ff75a0;
  border: 20px solid;
  height: 200px;
  margin-left: 260px;
  width: 200px;*/
  margin: 50px auto;

}
.bottom-container{
 background-color:  #66BFBF;
 padding:  20px auto 50px;


}
a{
  color: #324EED;
  margin: 10px 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAF6F6;
}
.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #22DFD8, #66BFBF);
   background-image: -moz-linear-gradient(top, #22DFD8, #66BFBF);
   background-image: -ms-linear-gradient(top, #22DFD8, #66BFBF);
   background-image: -o-linear-gradient(top, #22DFD8, #3D94F6);
   background-image: -webkit-gradient(to bottom, #22DFD8, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #000000;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 40px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  padding-bottom: 20px;
  padding-top: 20px;
}
